<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Khóa học</h2>
      </div>
      {% for category in site.categories %}
      {% capture category_name %}{{ category | first }}{% endcapture %}
      {% if category_name == "Course" %}
      {% for post in site.categories[category_name] offset:0 limit:3%}
      {% include post.html %}
      {% endfor %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->