<!-- {% if site.data.settings.documents-home-items %}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Tài liệu tham khảo</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.documents-home-items %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="documents-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm btn-primary" href="{{ item.url }}">Xem thêm</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %} -->

<!-- documents -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Tài liệu tham khảo</h2>
      </div>
      <div class="col-lg-12 mx-auto documents-slider">
        {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        {% if category_name == "Documents" %}
        {% for post in site.categories[category_name] offset:0%}
        {% include post.html %}
        {% endfor %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- /documents -->