<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Có thể bạn quan tâm</h2>
            </div>
            <div class="col-lg-11 mx-auto relevant-slider">
                {% for category in site.categories %}
                {% capture category_name %}{{ category | first }}{% endcapture %}
                {% if category_name == "Blogs" %}
                {% for post in site.categories[category_name] offset:0 %}
                {% include post.html %}
                {% endfor %}
                {% endif %}
                {% endfor %}
                
                {% for category in site.categories %}
                {% capture category_name %}{{ category | first }}{% endcapture %}
                {% if category_name == "News" %}
                {% for post in site.categories[category_name] offset:0 %}
                {% include post.html %}
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-lg-11 mx-auto relevant-slider">
                {% for category in site.categories %}
                {% capture category_name %}{{ category | first }}{% endcapture %}
                {% if category_name == "Course" %}
                {% for post in site.categories[category_name] offset:0 %}
                {% include post.html %}
                {% endfor %}
                {% endif %}
                {% endfor %}
                
                {% for category in site.categories %}
                {% capture category_name %}{{ category | first }}{% endcapture %}
                {% if category_name == "Documents" %}
                {% for post in site.categories[category_name] offset:0 %}
                {% include post.html %}
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>