// Color Variables
// $primary-color: #4470db;
$primary-color: #eaeaea;
$secondary-color: #7434d5;
$text-color: #4c4c4c;
$text-color-dark: #000;
// $text-color-light: #999;
$text-color-light: #f54914;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$char-color: #000;
$gray: #eaeaea;
$click-word-color: #f54914;
$text-color-footer: #999;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
// $primary-font: 'Sofia Pro', sans-serif;
// $secondary-font: 'Sofia Pro', serif;
$icon-font: 'themify';