---
layout: default
---

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <!-- <h1 class="text-white font-tertiary">{{ page.title }}</h1> -->
        <h1 class="title-color-2 font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-6">
</section>
<!-- /page title -->

{{ content }}